body {
    background-color: hsl(313, 79%, 87%);
}

h1 {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h2 {
   
    color: blueviolet;
}
.button1 {
    width: 100px;
    height: 40px;
    background-color: rgb(15, 100, 226);
}

.button2 {
    background-color: red;
}
input {
    width: 100px;
    height: 40px;

}

.haddiecenter {
    text-align: center;
}

.book-container {
    display: grid;
    grid-template-columns: auto auto auto;

    padding: 2px;   
}


.book-item {
    background-color: rgb(255, 242, 167);
    border: 2px solid pink;
    padding: 10px;
    font-size: 10px;
    text-align: center;
}

.imagedimensions {
    width: 125px;
    height: 200px;
}

.readButton {
    background-color: pink;
    border: none;
    border-radius: 10px;
    height: 30px;
    width: 80px;
    color: white;

}